/* As this was my first encounter with JSS, I styled the components in this CSS-file first, so 
I could focus on getting the syntactic format correct in the respective components, and not
having to worry about the styling choices. If you are new to JSS, feel free to compare this file
with the JSS-code segments in the components, however this file is not linked to any component.*/

/* Remove browser styling */
.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Aligning content to center */
.container {
  width: 100vw;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.description {
  width: 45rem;
}
/* Aligning buttons/counter div */
.buttonsCounter {
  margin: auto;
  width: 28rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* style for "normal"/decrement button */
.normal {
  height: 3rem;
  padding: 0 2rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 3rem;
  color: black;
}

.normal:hover {
  color: white;
  background-color: black;
}

/* style for "primary"/decrement button */
.primary {
  height: 3rem;
  padding: 0 2rem;
  background-color: hotpink;
  border: none;
  border-radius: 3rem;
  color: white;
}

.primary:hover {
  background-color: rebeccapurple;
}

/* Styling for the plus and minus signs */

.plus,
.minus {
  font-size: 1.5rem;
  margin-right: 10px;
  font-weight: bold;
}
.minus {
  position: relative;
  bottom: 2px;
}

/* Aligning button text */

.buttonText {
  position: relative;
  bottom: 4px;
}

/* Styling warning text */
.warning {
  border: solid 4px red;
  text-align: center;
  margin: 20px;
  background-color: orange;
  font-weight: bolder;
  width: 80%;
}

/* Aligning info section */
.infoSection {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerRepoInfo {
  text-align: center;
}

.repoInfo {
  margin-top: 0;
  position: absolute;
  top: 28rem;
  width: 35rem;
}
/* styling for loader-component */
.loader {
  margin-top: 2rem;
  border: solid 4px red;
  text-align: center;
  background-color: orange;
  font-weight: bolder;
  padding: 20px;
}
